USE [master]
GO
/****** Object:  Database [TestDB_2021_CS-27]    Script Date: 1/18/2023 1:04:21 AM ******/
CREATE DATABASE [TestDB_2021_CS-27]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB_2021_CS-27', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB_2021_CS-27.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDB_2021_CS-27_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB_2021_CS-27_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB_2021_CS-27].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB_2021_CS-27]
GO
/****** Object:  Table [dbo].[student]    Script Date: 1/18/2023 1:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[Name] [nchar](10) NULL,
	[Age] [nchar](10) NULL,
	[Section] [nchar](10) NULL,
	[Gender] [nchar](10) NULL,
	[CGPA] [nchar](10) NULL,
	[Session] [nchar](10) NULL
) ON [PRIMARY]
GO
USE [master]
GO
